@import url("https://fonts.cdnfonts.com/css/berlin-sans-fb-demi");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Berlin Sans FB Demi", sans-serif;
}
body {
  background-color: #57b587;
  min-height: 100vh;
  overflow-x: hidden;
}
.hero_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
}
.txt {
  position: absolute;
  top: 110px;
  font-size: 2rem;
  color: rgb(65, 65, 65);
  text-shadow: 0 0 15px white;
  letter-spacing: 5px;
}
.mountain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.bushes {
  position: absolute;
  top: 20rem;
  left: 0;
  right: 20rem;
  width: 100%;
}

.cloud1 {
  position: absolute;
  top: 0;
  left: 0;
}
.birds {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  mix-blend-mode: multiply;
}
.cloud1 {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 60px;
  left: 0;
}
.cloud2 {
  position: absolute;
  width: 70%;
  height: 50%;
  top: 0;
  left: 300px;
}

.button {
  position: absolute;
  top: 350px;
  color: #57b587;
  background-color: white;
  margin: 30px;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 1.8rem;
  border-radius: 10px;
  transition: 0.3s;
}
a:hover {
  color: aliceblue;
  background-color: #57b587;
  box-shadow: 7px 10px 5px rgba(0, 0, 0, 0.822);
}
.turtle{
  position: absolute;
  right: 0;
  top: 28rem;
  width: 40%;
  height: 60%;
  
}

.special_txt{
  font-size: 5rem;
  color: white;
  margin: 0 50px;
}
  
.special{
  box-sizing: border-box;
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  flex-wrap: nowrap;
}
.invisible{
  display: none;
}
