*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Berlin Sans FB Demi', sans-serif;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
}
.hero_section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 100vh;    
}